#project-wrap .navbar {
   
    background-color:#ececec;
    padding-top: 5px;
    text-align: center;


}

#project-wrap .navbar-image{
	display: inline-block;

}

#project-wrap .navbar-brand {
    color: #646565;
    font-weight:lighter;
    font-size:30px;
    margin-top: 4px;

}

#project-wrap .nav li a {
    color: #025F83;
    font-weight:lighter;
    font-size:16px;
    margin-top: 4.5px;

}

img {
	margin-top: -20px;
	height: 80px;
	width: 80px;
}

span {
	color: #025F83;
}